@charset "utf-8";

/* initialize */
:root {
    --max-contents-widht: 1280px;
    --header-height: 50px;
    --site-color: #EDA65F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
}

body {
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

img {
    width: 100%;
    vertical-align: bottom;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: var(--site-color);
    position: sticky;
    top: 0;
    z-index: 9;
}

header>h1 {
    font-size: 0;
    height: var(--header-height);
}

header h1 a {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    transition: all;
    transition-duration: 0.3s;
    letter-spacing: 0.1rem;
}

.nav li>a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    width: 50px;
    line-height: 2rem;
    text-align: center;
    transition: all;
    transition-duration: 0.3s;
}

header a:hover {
    background-color: #eee;
    color: #333;
    opacity: 0.7;
    border-radius: 16px;
}

/* メイン部分 */

.container {
    width: 100%;
}

/* index.htmlのトップカバー */
.main-visual {
    width: 100%;
    position: relative;
}

.main-visual img {
    object-fit: cover;
}

.contents {
    max-width: var(--max-contents-widht);
    padding: 0 16px 64px;
    margin: 0 auto;
}

.content {
    margin-top: 64px;
}

.content>h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    margin-bottom: 16px;
}

.content.about,
.content.news {
    letter-spacing: 0.1rem;
}

.newsItem {
    display: block;
    margin-bottom: 8px;
    border-bottom: 1px dotted #7e7e7e;
    padding-bottom: 8px;
}

.newsItem span {
    font-size: 14px;
}

.newsItem a {
    display: inline;
    color: #1A0DAB;
    margin-bottom: 8px;
}

.newsItem a:hover {
    border-bottom: solid 1.5px #1A0DAB;
}

.newsItem .category {
    display: inline-block;
    margin-left: 16px;
    background-color: var(--site-color);
    color: #fff;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.newsItem .category.blogItem {
    background-color: #00a9e0;
}


.content.news .newsItem:nth-child(-n+3)::before {
    display: inline-block;
    content: "new";
    color: red;
}

.btn a {
    display: block;
    width: 150px;
    text-align: center;
    line-height: 40px;
    background-color: var(--site-color);
    color: #fff;
    font-size: 20px;
    border-radius: 32px;
    margin: 16px auto 0;
}

.btn a:hover {
    opacity: 0.8;
}

/* photo */
.photos {
    display: flex;
    gap: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.photo img {
    width: 200px;
    user-select: none;
}

/* profile */
.profile-tbl {
    letter-spacing: 0.1rem;
    width: 100%;
    max-width: 700px;
}

.profile-tbl tr {
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted #7e7e7e;
}

.profile-tbl th {
    width: 150px;
}

/* footer */
footer {
    width: 100%;
    background-color: #EFEFEF;
    padding: 16px;
}


#footer-nav {
    display: flex;
    gap: 16px;
}

#footer-nav li a {
    display: block;
}

#footer-nav a {
    font-size: 12px;
    color: #7E7E7E;
}

#footer-nav a:hover {
    color: #333;
    font-weight: bold;
}


footer .sns-links {
    margin-top: 16px;
    text-align: center;
}

footer .fa-brands {
    font-size: 40px;
    color: #333;
    margin: 0 8px;
}

.sns>a:hover {
    opacity: 0.7;
}

.room img {
    width: auto;
    height: 40px;
    margin-top: 16px;
}

.room img:hover {
    opacity: 0.7;
}

footer small {
    font-size: 10px;
    color: #7E7E7E;
    display: block;
    text-align: center;
    margin: 16px 16px 0;
}

#sticky>a {
    display: block;
    text-align: center;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background-color: var(--site-color);
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    transition: .3s;
}

#sticky>a:hover {
    box-shadow: 0 0 10px red;
}


/* blog.index,news.index */
.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

.site-index {
    margin-top: 64px;
    font-size: 24px;
    letter-spacing: 0.1rem
}

/* privacy.html */
.policy-content h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
}

.policy-content p {
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 2;
}

.policy-content a {
    color: #1A0DAB;
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 2;
}

.policy-content a:hover {
    border-bottom: solid 1.5px #1A0DAB;
}

.page-title {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
    z-index: 2;
}

/* blog article */
.blog-content {
    margin-top: 32px;
}

.blog-content p {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05rem;
    margin-top: 8px;
}

.blog-content aside {
    margin-top: 18px;
    font-weight: lighter;
}

.blog-img {
    display: block;
    width: 400px;
    margin: 32px auto;
}

.page-move {
    display: flex;
    justify-content: space-between;
}

.page-move a {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 16px;
    text-align: center;
    font-size: 32px;
    background-color: #EFEFEF;
    color: var(--site-color);
    margin-bottom: 16px;
}

.blog-block {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 64px;
}

.blog-block .article {
    width: calc((100% - 16px)/2);
}

.blog-block img {
    width: 100%;
}

.blog-block img:hover {
    opacity: 0.7
}

@media screen and (min-width:768px) {
    .photo img {
        width: 300px;
    }

    .blog-content p {
        font-size: 16px;
        line-height: 2;
        margin-top: 16px;
    }

    .blog-block .article {
        width: calc((100% - 64px)/4);
    }
    

}