@charset "utf-8";

/* initialize */
:root {
    --max-contents-widht: 1280px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'M PLUS Rounded 1c','Noto Sans JP', sans-serif;
}

body {
    color: #333;
}

h1 {
    font-weight: normal;
    font-size: 1.8rem;
}

h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

h3 {
    font-weight: normal;
}

p {
    font-size: 0.8rem;
}

small {
    font-size: 10px;
    color: #777;
}

a {
    text-decoration: none;
    display: block;
    color: inherit
}

a:hover {
    color: #aaa;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

img {
    width: 100%;
    /* max-width: var(--max-contents-widht); */
    vertical-align: bottom;
}

/* tableあとで分ける */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.8rem;
}

th {
    font-weight: normal;
}

tr {
    line-height: 2;
    border-bottom: 1px dotted #333;
}

/* common */
.container {
    max-width: var(--max-contents-widht);
    padding: 0 16px;
    margin: 0 auto;
}

.title-wrapper {
    background-color: #eda65f;
    width: 100%;
    position: fixed;
}

.title-spacer {
    height: 50px;
}


.title-inner {
    max-width: var(--max-contents-widht);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: #fff;
    padding: 0 16px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
}

.nav-list a {
    font-size: 1rem;
    line-height: 2;
    padding: 0 4px;
}

header {
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
    margin: 80px 0 16px;
    padding-top: 16px;
    border-top: 1px solid#eee;
}

.sns-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.fa-square-x-twitter,
.fa-square-github,
.fa-square-instagram {
    font-size: 2rem;
}

.fa-x-twitter {
    font-size: 1.3rem;
    line-height: 28px;
}

.share {
    display: block;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    height: 28px;
}

.room {
    height: 28px;
}

.room img {
    width: 151.2px;
    vertical-align: bottom;
    height: 28px;
    object-fit: contain;
    vertical-align: baseline;
}

.room img:hover {
    opacity: 0.7;
}

/* index */
.main-visual img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.about,
.news,
.photo {
    margin-top: 16px;
}

.news ul li {
    display: flex;
}

.news a {
    color:blue;
    text-decoration: underline;
}

.news-date {
    width: 128px;
}

.news-title {
    width: 100%;
}

.visual-images {
    display: flex;
    gap: 8px;
    overflow: scroll;
}

.visual-image img {
    width: 200px;
}


/* profile */
.profile-contents {
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 0;
}

.profile-contents .table {
    padding-top: 16px;
}

.profile-contents .table th {
    width: 100px;
}

.container.growth {
    margin-top: 16px;
}

.growth-images {
    display: flex;
    gap: 8px;
    overflow: scroll;
    justify-content: space-between;
}

.growth-image img {
    min-width: 200px;
    max-width: 300px;
}


/* .blog */
.blog-inner h2 {
    margin-top: 16px;
}

.blog-inner a {
    display: flex;
    gap: 4%;
}

.blog-inner li {
    display: block;
    line-height: 2;
    border-bottom: 1px dotted #aaa;
}

.blog.container {
    display: flex;
    flex-direction: column-reverse;
}

.blog-inner {
    width: 100%;
}

.blog-articles li:nth-child(-n+3)::before {
  content: "new";
  color: red;
}

.blog-ad {
    margin-top: 16px;
    width: 100%;
    height: 100px;
    background: #eee;
    border-radius: 32px;
    margin-bottom: 16px;
}

/* policy */
.policy.container h2 {
    margin-top: 16px;
}

.policy-content h3 {
    font-size: 1rem;
    border-bottom: 1px solid #aaa;
}

.policy-content {
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
}

.policy-content a {
    color: blue;
    text-decoration: underline;
}


@media screen and (min-width:768px) {

    /* common */
    .nav-list li:hover {
        background-color: #eee;
    }

    table {
        font-size: 1rem;
    }

    /* index; */

    .main-visual img {
        object-fit: cover;
        height: 300px;
    }

    /* profile */
    .profile-contents {
        display: flex;
        gap: 32px;
    }

    .profile-contents img {
        max-width: 600px;
    }

    .profile-contents .table {
        min-width: 50%;
        padding-top: 0;
    }


    /* blog */

    .blog.container {
        display: flex;
        flex-direction: unset;
    }


    .blog-ad {
        width: 400px;
        height: 500px;
    }
}